@import './variables.css';
@import './animations';

body {
    background: #222;
    color: #ddd;
    font-family: var(--sans);
    margin: 0;
}

button, summary {
    cursor: pointer;
}

code { font-family: var(--mono) }

.--site-block {
    padding: 1rem;
}

.--site-block > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.--site-block > *:first-child { margin-top: 0 }
.--site-block > *:last-child { margin-bottom: 0 }

#App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#Main {
    display: flex;
    flex-direction: column;
}

#Screen {
    background: #1d1d1d;
    border-radius: 0.25rem;
    font-family: var(--mono);
    height: 50vh;
    overflow-y: auto;
    padding: 1rem 0;
    width: 100%;
}

#Screen > * {
    margin-left: 2rem;
    margin-right: 2rem;
}

#Screen > *:last-child {
    animation: fade-in 100ms ease-in-out;
}

#Controls {
    display: flex;
    margin-top: 1rem;
}

#Controls > * {
    border: 0;
    font-size: inherit;
    font-family: var(--mono);
    margin: 0;
    padding: 1rem;
}

#Controls > input {
    background: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    color: white;
    flex: 1;
}

#Controls > button {
    background: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
}

#Controls > button:hover {
    color: var(--red);
}

#Controls > button kbd {
    font-family: var(--mono);
}

#Help {
    flex: 1;
}

#Help li:not(:last-of-type) {
    margin-bottom: 0.5rem;
}

#Help li ul {
    margin-top: 0.5rem;
}

#Help code {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 0.125rem 0.25rem;
}

#Footer {
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#Footer a,
#Footer a:visited {
    color: var(--red);
    text-decoration: none;
}

#Footer a:hover,
#Footer a:active {
    text-decoration: underline;
}